body {
    background: #1e1e1f/*linear-gradient (to right, #6a11cb, #2575fc)*/ ; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.container {
    background: rgba(30, 30, 31, 0.8); /* dark grey with some transparency */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* slightly darker shadow */
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-box {
    background: rgba(40, 40, 41, 0.8); /* slightly lighter than container for contrast */
    padding: 20px;
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.section-box button {
    margin: 10px 5px;
}

button {
    background: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #ddd;
}

.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.dropdown option {
    color: black;
}

#transcriptBox {
    margin-top: 15px;
}
